<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        2015 &copy; ERP <a target="_blank" href="http://tpws.com.br">
            <img style="width:35px;" src="../assets/pages/img/logos/logo-tpws.png" />
        </a>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->