<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <ul class="page-sidebar-menu   " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="nav-item start active open">
                <a href="/app/dashboard" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">Dashboard</span>
                    <span class="selected"></span>
                </a>
            </li>
            <li class="heading">
                <h3 class="uppercase"> Top 20 </h3>
            </li>
            <li class="nav-item  ">
                <a href="/bi/clientes" class="nav-link nav-toggle">
                    <i class="icon-user-following"></i>
                    <span class="title">Clientes</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/bi/produtos" class="nav-link nav-toggle">
                    <i class="icon-social-dropbox"></i>
                    <span class="title">Produtos</span>
                </a>
            </li>
            <li class="heading">
                <h3 class="uppercase">Manutenção</h3>
            </li>
            <li class="nav-item">
                <a href="/manutencao/clientes" class="nav-link nav-toggle">
                    <i class="icon-user-following"></i>
                    <span class="title">Clientes</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/manutencao/produtos" class="nav-link nav-toggle">
                    <i class="icon-social-dropbox"></i>
                    <span class="title">Produtos</span>
                </a>
            </li>
            <li class="heading">
                <h3 class="uppercase">Usuario</h3>
            </li>
            <li class="nav-item">
                <a href="/usuario/tarefas" class="nav-link nav-toggle">
                    <i class="icon-rocket"></i>
                    <span class="title">Tarefas</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/usuario/conta" class="nav-link nav-toggle">
                    <i class="icon-user"></i>
                    <span class="title">Minha conta</span>
                </a>
            </li>

        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->
