<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {packages: ["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Work', 11],
            ['Eat', 2],
            ['Commute', 2],
            ['Watch TV', 2],
            ['Sleep', 7]
        ]);

        var options = {
            title: 'Produtos mais vendidos no mes',
            pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
    }

    google.charts.load('current', {'packages': ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawStuff);

    function drawStuff() {

        var button = document.getElementById('change-chart');
        var chartDiv = document.getElementById('chart_div');

        var data = google.visualization.arrayToDataTable([
            ['', 'Preco', 'Porcentagem'],
            ['Canis Major Dwarf', 8000, 23.3],
            ['Ursa Major II Dwarf', 30000, 14.3],
            ['Bootes I', 60000, 13.1],
            ['Sagittarius Dwarf', 24000, 4.5],
            ['Lg. Magellanic Cloud', 50000, 0.9],
        ]);

        var materialOptions = {
            chart: {
                title: 'Top 20 Produtos',
                subtitle: 'Produtos mais comprardos no mes'
            },
            series: {
                0: {axis: 'distance'}, // Bind series 0 to an axis named 'distance'.
                1: {axis: 'brightness'} // Bind series 1 to an axis named 'brightness'.
            },
            axes: {
                y: {
                    distance: {label: 'parsecs'}, // Left y-axis.
                    brightness: {side: 'right', label: 'apparent magnitude'} // Right y-axis.
                }
            }
        };

        var materialChart = new google.charts.Bar(chartDiv);
        materialChart.draw(data, google.charts.Bar.convertOptions(materialOptions));

    }
</script>

<div class="row">
    <div class="col-sm-6">
        <div id="chart_div">

        </div>
    </div>
    <div class="col-sm-6">
        <div id="donutchart"> 
            <!--style="width: 900px; height: 500px;"-->

        </div>
    </div>
</div>