<?php if ($_SERVER['REQUEST_URI'] === "/"): ?>
    <?= $this->content ?>
<?php else: ?>
    <?= $this->doctype() ?>
    <html lang="pt-BR">
        <!--< \Application\Module::VERSION ?>-->
        <?= $this->render('componentes/head'); ?>
        <body class="page-container-bg-solid page-header-fixed page-footer-fixed page-footer-fixed-mobile page-sidebar-fixed">
            <?= $this->render('componentes/header'); ?>

            <!-- BEGIN HEADER & CONTENT DIVIDER -->
            <div class="clearfix"> </div>
            <!-- END HEADER & CONTENT DIVIDER -->
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <?= $this->render('componentes/sidebar'); ?>
                <?= $this->content ?>
            </div>
            <?= $this->render('componentes/footer'); ?>
        </body>
        <?= $this->render('componentes/plugins'); ?>
        <?= $this->inlineScript() ?>
    </html>
<?php endif; ?>
