.selected-row {
    background-color:rgba(76, 135, 185, 0.59) !important;
    color:#FFF !important;
}

.selected-row-input{
    color:#000 !important;
}

.table-responsive {
    padding: 10px;
    outline: 0;
}

.EditorTicket {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 120px;
    max-height: 120px;
    display:none;
    resize: none;
    border: 0px;
}

.orange-soft,.orange-soft:hover {
    background-color: #ad6704;
    color:#FFF;
}

.form-control,.portlet.light, .btn  {
    border-radius:0px !important;
}

.thumbnail {
    position: relative;
    width: 200px;
    height: 160px;
    overflow: hidden;
}
.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
    width: 80%;
    height: auto;
    padding:20px;
}

.btn-upload {
    color:#fff;
    background-color:rgba(51, 122, 183, 0.45);
}

.btn-upload:hover {
    color:#fff;
    background-color:rgba(51, 122, 183, 0.84);
}

.btn-login {
    color:#fff;
    background-color:#287fa9;
}

.btn-login:hover {
    color:#fff;
    background-color:#3a7592;
}

.BtnDetalhes > i, .BtnExcluir > i, .BtnLimpar > i {
    font-size: 14px;
}

.BtnDetalhes, .BtnExcluir, .BtnLimpar {
    color:#FFF!important;
    width: 20px;
    height: 20px;
    padding: 1.5px!important;
    /*border-radius: 15px!important;*/
}

.BtnDetalhes::houver, .BtnExcluir::houver, .BtnLimpar::houver {
    color:grey!important;
}

.fa-close {
    margin-left: 0.5px;
}
