<form role="form" id="formCadastroCliente">
    <div class="form-group form-md-radios">
        <label>Tipo de pessoa</label>
        <div class="md-radio-inline">
            <div class="md-radio">
                <input type="radio" value="F" id="radio14" name="radio2" class="md-radiobtn" checked="">
                <label for="radio14">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span> Fisica </label>
            </div>
            <div class="md-radio">
                <input type="radio" value="J" id="radio15" name="radio2" class="md-radiobtn">
                <label for="radio15">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span> Juridica </label>
            </div>
        </div>
    </div>

    <h3>Dados de login</h3>
    <hr class="divider-vertical">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="email" class="form-control" name="emailLogin">
                <label for="emailLogin">E-mail</label>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="password" class="form-control" name="senhaLogin">
                <label for="form_control_1">Senha</label>
                <span class="help-block"></span>
            </div>
        </div>
    </div>

    <div class="PJ" style="display: none;">
        <?php include __DIR__ . '/../fornecedores/formulario.phtml'; ?>
    </div>

    <div class="PF" style="display: block;">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="form-body">
            <h3>Informações pessoais</h3>
            <hr class="divider-vertical">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="text" class="form-control" name="nomeCompleto">
                        <label for="form_control_1">Nome completo</label>
                        <span class="help-block">Digite seu nome...</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="text" class="form-control cpf" class="cpf" name="cpf">
                        <label for="form_control_1">CPF</label>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="text" value="" class="form-control" name="dataNascimento">
                        <label for="form_control_1">Data nascimento</label>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group form-md-radios">
                        <label>Sexo</label>
                        <div class="md-radio-inline">
                            <div class="md-radio">
                                <input type="radio" value="M" id="radio16" name="radio3" class="md-radiobtn">
                                <label for="radio16">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Masculino </label>
                            </div>
                            <div class="md-radio">
                                <input type="radio" value="F" id="radio17" name="radio3" class="md-radiobtn">
                                <label for="radio17">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Feminino </label>
                            </div>
                            <div class="md-radio">
                                <input type="radio" value="O" id="radio18" name="radio3" class="md-radiobtn" checked="">
                                <label for="radio18">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span> Outros </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <h3>Endereço</h3>
            <hr class="divider-vertical">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-md-line-input form-md-floating-label input-icon right">
                        <i class="icon-magnifier"></i>
                        <input type="text" class="form-control cep" name="cep">
                        <label for="form_control_1">CEP</label>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="text" class="form-control" name="rua">
                        <label for="form_control_1">Rua</label>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="text" class="form-control" name="numero">
                        <label for="form_control_1">Numero</label>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="text" class="form-control" name="bairro">
                        <label for="form_control_1">Bairro</label>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="text" class="form-control" name="cidade">
                        <label for="form_control_1">Cidade</label>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="text" class="form-control" name="estado">
                        <label for="form_control_1">Estado</label>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="text" class="form-control" name="complemento">
                        <label for="form_control_1">Complemento</label>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="text" class="form-control" name="pontoReferencia">
                        <label for="form_control_1">Ponto de referencia</label>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>


            <h3>Contato</h3>
            <hr class="divider-vertical">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="text" class="form-control" name="nomeContato">
                        <label for="form_control_1">Nome</label>
                        <span class="help-block">Digite seu nome...</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="email" class="form-control" name="emailContato">
                        <label for="form_control_1">E-mail</label>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="text" class="form-control telefone" name="telefoneContato">
                        <label for="form_control_1">Telefone</label>
                        <span class="help-block"></span>
                    </div>
                </div>
            </div>
        </div>
        <hr class="divider-vertical">
        <div class="form-actions noborder">
            <button type="submit" class="btn blue">Enviar</button>
            <button type="button" class="btn default">Cancel</button>
        </div>
        <!-- END SAMPLE FORM PORTLET-->
    </div>
</form>