<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="../assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="../assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
<link href="../assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
<!-- END THEME GLOBAL STYLES -->

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-red-sunglo">
                    <i class="icon-user-following font-red-sunglo"></i>
                    <span class="caption-subject bold uppercase"> Manutenção de cliente</span>
                </div>
            </div>

            <div class="portlet-body">

                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_15_1" data-toggle="tab"> Lista</a>
                        </li>
                        <li>
                            <a href="#tab_15_2" data-toggle="tab"> Formulario </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_15_1">
                            <div class="form-inline Grid">
                                <div class="datatable_Filtros">
                                    <span id="datatable_FiltroGridBuscaLeng" mover="false" style="margin-rigth:5px;">

                                    </span>
                                    <span id="datatable_FiltroGridBuscaColuna">
                                        <select name="colunaBusca" class="form-control pull-left" style="margin-left:5px;">
                                        </select>
                                    </span>
                                    <span id="datatable_FiltroGridBuscaTipo">
                                        <select name="formaBusca" class="form-control pull-left" style="margin-left:5px;">
                                        </select>
                                    </span>
                                    <span id="datatable_FiltroGridBusca" >

                                    </span>
                                    <span class="" >
                                        <button type="reset" id="datatable_FiltroGridBuscaLimpar" class="btn btn-warning" style="margin-bottom: 5px;margin-left:5px;">
                                            <i class="fa fa-refresh"></i>
                                            Limpar
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <?= $this->render('grid'); ?>
                        </div>
                        <div class="tab-pane" id="tab_15_2">
                            <div class="actions">
                                <div class="btn-group pull-right">
                                    <a class="btn btn-sm green dropdown-toggle" href="javascript:;" data-toggle="dropdown"> Actions
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-plus"></i> Adição </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-pencil"></i> Edição </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <i class="fa fa-trash-o"></i> Exclusão </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <?= $this->render('formulario'); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>