<!-- BEGIN SAMPLE FORM PORTLET-->

<div class="form-body">
    <h3>Informações juridicas</h3>
    <hr class="divider-vertical">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" name="razaoSocial">
                <label for="form_control_1">Razão social</label>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" name="fantasia">
                <label for="form_control_1">Fantasia</label>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control cnpj" name="cnpj">
                <label for="form_control_1">CNPJ</label>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-md-line-input">
                <input type="date" value="" class="form-control" name="dataAbertura">
                <label for="form_control_1">Data abertura</label>
                <span class="help-block"></span>
            </div>
        </div>
    </div>
    <h3>Informações do responsavel</h3>
    <hr class="divider-vertical">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" name="nomeResponsavel">
                <label for="form_control_1">Nome completo</label>
                <span class="help-block">Digite seu nome...</span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control cpf" name="cpfResponsavel">
                <label for="form_control_1">CPF</label>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group form-md-line-input">
                <input type="date" value="" class="form-control" name="dataNascimentoResponsavel">
                <label for="form_control_1">Data nascimento</label>
                <span class="help-block"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="email" class="form-control" name="emailResponsavel">
                <label for="form_control_1">E-mail</label>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control telefone" name="telefoneResponsavel">
                <label for="form_control_1">Telefone</label>
                <span class="help-block"></span>
            </div>
        </div>
    </div>

    <h3>Endereço</h3>
    <hr class="divider-vertical">
    <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-md-line-input form-md-floating-label input-icon right">
                        <i class="icon-magnifier"></i>
                        <input type="text" class="form-control cep" name="cep">
                        <label for="form_control_1">CEP</label>
                        <span class="help-block"></span>
                    </div>
                </div>
        <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" name="rua">
                <label for="form_control_1">Rua</label>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" name="numero">
                <label for="form_control_1">Numero</label>
                <span class="help-block"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" name="bairro">
                <label for="form_control_1">Bairro</label>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" name="cidade">
                <label for="form_control_1">Cidade</label>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" name="estado">
                <label for="form_control_1">Estado</label>
                <span class="help-block"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" name="complemento">
                <label for="form_control_1">Complemento</label>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="text" class="form-control" name="pontoReferencia">
                <label for="form_control_1">Ponto de referencia</label>
                <span class="help-block"></span>
            </div>
        </div>
    </div>

</div>
<hr class="divider-vertical">
<div class="form-actions noborder">
    <button type="submit" class="btn blue">Enviar</button>
    <button type="button" class="btn default">Cancel</button>
</div>
<!-- END SAMPLE FORM PORTLET-->
