<!-- BEGIN PAGE LEVEL STYLES -->
<link href="../assets/apps/css/todo-2.min.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Minhas tarefas
                    <small></small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
            <!-- BEGIN PAGE TOOLBAR -->
            <div class="page-toolbar">
                <!-- BEGIN THEME PANEL -->
                <div class="btn-group btn-theme-panel">
                    <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-settings"></i>
                    </a>
                    <div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <h3>HEADER</h3>
                                <ul class="theme-colors">
                                    <li class="theme-color theme-color-default active" data-theme="default">
                                        <span class="theme-color-view"></span>
                                        <span class="theme-color-name">Dark Header</span>
                                    </li>
                                    <li class="theme-color theme-color-light " data-theme="light">
                                        <span class="theme-color-view"></span>
                                        <span class="theme-color-name">Light Header</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-12 seperator">
                                <h3>LAYOUT</h3>
                                <ul class="theme-settings">
                                    <li> Layout
                                        <select class="layout-option form-control input-small input-sm">
                                            <option value="fluid" selected="selected">Fluid</option>
                                            <option value="boxed">Boxed</option>
                                        </select>
                                    </li>
                                    <li> Header
                                        <select class="page-header-option form-control input-small input-sm">
                                            <option value="fixed" selected="selected">Fixed</option>
                                            <option value="default">Default</option>
                                        </select>
                                    </li>
                                    <li> Top Dropdowns
                                        <select class="page-header-top-dropdown-style-option form-control input-small input-sm">
                                            <option value="light">Light</option>
                                            <option value="dark" selected="selected">Dark</option>
                                        </select>
                                    </li>
                                    <li> Sidebar Mode
                                        <select class="sidebar-option form-control input-small input-sm">
                                            <option value="fixed">Fixed</option>
                                            <option value="default" selected="selected">Default</option>
                                        </select>
                                    </li>
                                    <li> Sidebar Menu
                                        <select class="sidebar-menu-option form-control input-small input-sm">
                                            <option value="accordion" selected="selected">Accordion</option>
                                            <option value="hover">Hover</option>
                                        </select>
                                    </li>
                                    <li> Sidebar Position
                                        <select class="sidebar-pos-option form-control input-small input-sm">
                                            <option value="left" selected="selected">Left</option>
                                            <option value="right">Right</option>
                                        </select>
                                    </li>
                                    <li> Footer
                                        <select class="page-footer-option form-control input-small input-sm">
                                            <option value="fixed">Fixed</option>
                                            <option value="default" selected="selected">Default</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END THEME PANEL -->
            </div>
            <!-- END PAGE TOOLBAR -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="/app/dashboard">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Apps</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="todo-ui">
                    <!-- BEGIN TODO CONTENT -->
                    <div class="todo-content">
                        <div class="portlet light bordered">
                            <!-- PROJECT HEAD -->
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-bar-chart font-green-sharp hide"></i>
                                    <span class="caption-subject font-green-sharp bold uppercase">Para mim</span>
                                </div>
                            </div>
                            <!-- end PROJECT HEAD -->
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-md-5 col-sm-4">
                                        <div class="todo-tasklist">

                                            <div class="todo-tasklist-item todo-tasklist-item-border-red">
                                                <img class="todo-userpic pull-left" src="../assets/layouts/layout4/img/avatar-undefined.jpg" width="27px" height="27px">
                                                <div class="todo-tasklist-item-title"> Correção de slider</div>
                                                <div class="todo-tasklist-controls pull-left">
                                                    <span class="todo-tasklist-date">
                                                        <i class="fa fa-calendar"></i> 10 Fev 2015 </span>
                                                    <span class="todo-tasklist-badge badge badge-danger badge-roundless">importante</span>&nbsp; </div>
                                            </div>
                                            <div class="todo-tasklist-item todo-tasklist-item-border-red">
                                                <img class="todo-userpic pull-left" src="../assets/layouts/layout4/img/avatar-undefined.jpg" width="27px" height="27px">
                                                <div class="todo-tasklist-item-title"> Correção de slider</div>
                                                <div class="todo-tasklist-controls pull-left">
                                                    <span class="todo-tasklist-date">
                                                        <i class="fa fa-calendar"></i> 10 Fev 2015 </span>
                                                    <span class="todo-tasklist-badge badge badge-danger badge-roundless">importante</span>&nbsp; </div>
                                            </div>
                                            <div class="todo-tasklist-item todo-tasklist-item-border-red">
                                                <img class="todo-userpic pull-left" src="../assets/layouts/layout4/img/avatar-undefined.jpg" width="27px" height="27px">
                                                <div class="todo-tasklist-item-title"> Correção de slider</div>
                                                <div class="todo-tasklist-controls pull-left">
                                                    <span class="todo-tasklist-date">
                                                        <i class="fa fa-calendar"></i> 10 Fev 2015 </span>
                                                    <span class="todo-tasklist-badge badge badge-danger badge-roundless">importante</span>&nbsp; </div>
                                            </div>
                                            <div class="todo-tasklist-item todo-tasklist-item-border-red">
                                                <img class="todo-userpic pull-left" src="../assets/layouts/layout4/img/avatar-undefined.jpg" width="27px" height="27px">
                                                <div class="todo-tasklist-item-title"> Correção de slider</div>
                                                <div class="todo-tasklist-controls pull-left">
                                                    <span class="todo-tasklist-date">
                                                        <i class="fa fa-calendar"></i> 10 Fev 2015 </span>
                                                    <span class="todo-tasklist-badge badge badge-danger badge-roundless">importante</span>&nbsp; </div>
                                            </div>
                                            <div class="todo-tasklist-item todo-tasklist-item-border-red">
                                                <img class="todo-userpic pull-left" src="../assets/layouts/layout4/img/avatar-undefined.jpg" width="27px" height="27px">
                                                <div class="todo-tasklist-item-title"> Correção de slider</div>
                                                <div class="todo-tasklist-controls pull-left">
                                                    <span class="todo-tasklist-date">
                                                        <i class="fa fa-calendar"></i> 10 Fev 2015 </span>
                                                    <span class="todo-tasklist-badge badge badge-danger badge-roundless">importante</span>&nbsp; </div>
                                            </div>
                                            <div class="todo-tasklist-item todo-tasklist-item-border-red">
                                                <img class="todo-userpic pull-left" src="../assets/layouts/layout4/img/avatar-undefined.jpg" width="27px" height="27px">
                                                <div class="todo-tasklist-item-title"> Correção de slider</div>
                                                <div class="todo-tasklist-controls pull-left">
                                                    <span class="todo-tasklist-date">
                                                        <i class="fa fa-calendar"></i> 10 Fev 2015 </span>
                                                    <span class="todo-tasklist-badge badge badge-danger badge-roundless">importante</span>&nbsp; </div>
                                            </div>
                                            <div class="todo-tasklist-item todo-tasklist-item-border-red">
                                                <img class="todo-userpic pull-left" src="../assets/layouts/layout4/img/avatar-undefined.jpg" width="27px" height="27px">
                                                <div class="todo-tasklist-item-title"> Correção de slider</div>
                                                <div class="todo-tasklist-controls pull-left">
                                                    <span class="todo-tasklist-date">
                                                        <i class="fa fa-calendar"></i> 10 Fev 2015 </span>
                                                    <span class="todo-tasklist-badge badge badge-danger badge-roundless">importante</span>&nbsp; </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="todo-tasklist-devider"> </div>
                                    <div class="col-md-7 col-sm-8">
                                        <form action="#" id="editaTarefa">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="todo-taskbody-user">
                                                        <img class="todo-userpic pull-left" src="../assets/layouts/layout4/img/avatar-undefined.jpg" width="50px" height="50px">
                                                        <span class="todo-username pull-left">TPWS</span>
                                                    </div>

                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <input type="text" class="form-control" name="tituloTarefa">
                                                        <label for="tituloTarefa">Titulo da tarefa</label>
                                                        <span class="help-block"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <textarea name="descricaoTarefa" class="form-control todo-taskbody-taskdesc" rows="4" placeholder="Descrição da tarefa..."></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group form-md-line-input">
                                                        <input type="date" class="form-control" name="dataSolicita">
                                                        <label for="data">Data solicitacao</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group form-md-line-input">
                                                        <input type="date" class="form-control" name="dataUltimaAlteracao">
                                                        <label for="data">Data da ulima alteração</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                        <select name="status" class="form-control todo-taskbody-tags">
                                                            <option value="">Selecione</option>
                                                            <option value="P">Pendente</option>
                                                            <option value="C">Completa</option>
                                                            <option value="T">Em teste</option>
                                                            <option value="A">Aprovada</option>
                                                            <option value="R">Rejeitada</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="margin-top-10">
                                                <button type="submit" class="btn blue">Salvar</button>
                                            </div>
                                        </form>
                                        <div class="tabbable-line">
                                            <ul class="nav nav-tabs ">
                                                <li class="active">
                                                    <a href="#tab_1" data-toggle="tab"> Comentarios </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_1">
                                                    <!-- TASK COMMENTS -->
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <ul class="media-list">
                                                                <li class="media">
                                                                    <a class="pull-left" href="javascript:;">
                                                                        <img class="todo-userpic" src="../assets/pages/media/users/avatar8.jpg" width="27px" height="27px"> </a>
                                                                    <div class="media-body todo-comment">
                                                                        <button type="button" class="todo-comment-btn btn btn-circle btn-default btn-sm">&nbsp; Reply &nbsp;</button>
                                                                        <p class="todo-comment-head">
                                                                            <span class="todo-comment-username">Christina Aguilera</span> &nbsp;
                                                                            <span class="todo-comment-date">17 Sep 2014 at 2:05pm</span>
                                                                        </p>
                                                                        <p class="todo-text-color"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                                                                        </p>
                                                                        <!-- Nested media object -->
                                                                        <div class="media">
                                                                            <a class="pull-left" href="javascript:;">
                                                                                <img class="todo-userpic" src="../assets/pages/media/users/avatar4.jpg" width="27px" height="27px"> </a>
                                                                            <div class="media-body">
                                                                                <p class="todo-comment-head">
                                                                                    <span class="todo-comment-username">Carles Puyol</span> &nbsp;
                                                                                    <span class="todo-comment-date">17 Sep 2014 at 4:30pm</span>
                                                                                </p>
                                                                                <p class="todo-text-color"> Thanks so much my dear! </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li class="media">
                                                                    <a class="pull-left" href="javascript:;">
                                                                        <img class="todo-userpic" src="../assets/pages/media/users/avatar5.jpg" width="27px" height="27px"> </a>
                                                                    <div class="media-body todo-comment">
                                                                        <button type="button" class="todo-comment-btn btn btn-circle btn-default btn-sm">&nbsp; Reply &nbsp;</button>
                                                                        <p class="todo-comment-head">
                                                                            <span class="todo-comment-username">Andres Iniesta</span> &nbsp;
                                                                            <span class="todo-comment-date">18 Sep 2014 at 9:22am</span>
                                                                        </p>
                                                                        <p class="todo-text-color"> Cras sit amet nibh libero, in gravida nulla. Scelerisque ante sollicitudin commodo Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum
                                                                            in vulputate at, tempus viverra turpis.
                                                                            <br> </p>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- END TASK COMMENTS -->
                                                    <!-- TASK COMMENT FORM -->
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <ul class="media-list">
                                                                <li class="media">
                                                                    <a class="pull-left" href="javascript:;">
                                                                        <img class="todo-userpic" src="../assets/pages/media/users/avatar4.jpg" width="27px" height="27px"> </a>
                                                                    <div class="form-group form-md-line-input form-md-floating-label">
                                                                        <textarea class="form-control todo-taskbody-taskdesc" rows="4" placeholder="Comentario da tarefa..."></textarea>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                            <button type="button" class="pull-right btn btn-sm btn-circle green"> &nbsp; Envar &nbsp; </button>
                                                        </div>
                                                    </div>
                                                    <!-- END TASK COMMENT FORM -->
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END TODO CONTENT -->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
</div>

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="../assets/apps/scripts/todo-2.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
